*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Gotham Rounded', sans-serif;
    font-weight: normal;
}


body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #00AAFF, #00FF6C);
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */

}

h1 {
    font-family: 'Roboto' sans-serif;
    font-size: 80px;
    text-align: center;
    padding: 10px;
    color:darkblue;
}

.grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 50vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px auto) repeat(5, 100px);
}

.grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 0.5px solid black;
    outline:none;
    transition: all .07s ease;
    background-color: rgba(255, 255, 255, 0.75);
}
  
.grid > button:hover {  
    background-color: rgba(255, 255, 255, 0.9);
}
  
.grid > button:active {  
      background-color: rgba(211, 208, 208, 0.9);
}
  
.larger {
    grid-column: span 2;
}
  
button.fixedColors {
    background-color: rgba(255, 255, 255, 0.75);
}
  
button.black-backgrounds {
    background-color: rgba(141, 139, 139, 0.9);
}

button.operators {
    background-color: orange;
}

.output {
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}
  
.output .previous-operand {
    color: white;
    font-size: 1.5rem;
}
  
.output .current-operand {
    color: white;
    font-size: 2.5rem;
}

.footer {
    margin-bottom: 20px;
    text-align: center;
}

a:link { 
    text-decoration: none; 
    color: black;
  }
  
  
a:visited { 
    text-decoration: none; 
    color: black;
}
  
  
a:hover { 
    text-decoration: none; 
    color: red;
}
  
  
a:active { 
    text-decoration: none; 
    color: black;
}
  
  
